
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3><i class="fa fa-user-plus"></i> Add Patient</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Patient Information</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form id="patient_create" data-parsley-validate class="form-horizontal form-label-left">

                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <label><i class="fa fa-user"></i> Basic Information</label>
                                </div>
                            </div>
                            <div>
                                <input type="hidden" id="patient_id" class="form-control has-feedback-left">
                            </div>
                            <div>
                                <input type="hidden" id="user_id" class="form-control has-feedback-left">
                            </div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <input type="text" id="P_First_name" name="P_First_name" class="form-control has-feedback-left" placeholder="First Name">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                    <span class="P_First_name_error text-danger"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <input type="text" id="P_Last_name" name="P_Last_name" class="form-control has-feedback-left" placeholder="Last Name">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                    <span class="P_Last_name_error text-danger"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <input type="text" id="Medical_condition" name="Medical_condition" class="form-control has-feedback-left" placeholder="Medical condition">
                                    <span class="fa fa-heartbeat form-control-feedback left" aria-hidden="true"></span>
                                    <span class="Medical_condition_error text-danger"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <label class="form-control has-feedback-left" for="IsFollowUp">IsFollowUp</label>
                                    <input class="form-control-feedback left form-check-inline" type="checkbox" id="IsFollowUp" name="IsFollowUp" />
                                    <span class="IsFollowUp_error text-danger"></span>

                                </div>
                            </div><br />

                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <label><i class="fa fa-address-card"></i> Contact Information</label>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <input id="P_Phone" name="P_Phone" type="tel" class="form-control has-feedback-left" placeholder="ex. 09809879797">
                                    <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                                    <span class="P_Phone_error text-danger"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <input id="P_Email" name="P_Email" type="email" class="form-control has-feedback-left" placeholder="ex. patient@gmail.com">
                                    <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                    <span class="P_Email_error text-danger"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <input type="text" id="P_Address" name="P_Address" class="form-control has-feedback-left" placeholder="Address">
                                    <span class="fa fa-address-book form-control-feedback left" aria-hidden="true"></span>
                                    <span class="P_Address_error text-danger"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <button id="btnCancel" class="btn btn-primary" type="button">Cancel</button>
                                    <input id="btnCreate" type="button" class="btn btn-success" value="Submit" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>*@
    <script>
        $(document).ready(function () {
            $('#btnCancel').click(function () {
                window.location.href = "/Patients/Index"
            });
            $('#btnCreate').click(function () {
                if ($('#patient_create').valid()) {
                    var data = {
                        patient_id: $("#patient_id").val(),
                        P_First_name: $('#P_First_name').val(),
                        P_Last_name: $('#P_Last_name').val(),
                        P_Phone: $('#P_Phone').val(),
                        P_Email: $('#P_Email').val(),
                        P_Address: $('#P_Address').val(),
                        Medical_condition: $('#Medical_condition').val(),
                        IsFollowUp: $('#IsFollowUp').is(":checked"),
                        user_id: $('#user_id').val(),
                    };
                    /*$.post("/Patients/Create", { patients: data }, function () { window.location.href = "/Patients/Index" });*/

                    $.post("/Patients/Create", { patients: data },

                        function (response) {

                            console.log(response);

                            if (response.status) {

                                console.log(response.status);

                                window.location.href = "/Patients/Index";

                            }

                            else {

                                alert(response.message);

                            }

                        });
                }
            });

        });
        $("#patient_create").validate({
            errorClass: "error fail-alert",
            validClass: "valid success-alert",
            rules: {
                P_First_name: {
                    required: true,
                    maxlength: 200,
                    minlength: 4
                },
                P_Last_name: {
                    required: true,
                    maxlength: 200,
                    minlength: 4
                },
                Medical_condition: {
                    required: true,
                    maxlength: 200
                },

                P_Phone: {
                    required: true,
                    minlength: 3
                },
                P_Email: {
                    required: true,
                    maxlength: 200
                },
                P_Address: {
                    required: true,
                    maxlength: 200
                },
            },
            messages: {
                P_First_name: {
                    required: "Enter proper first name",
                    maxlength: "max 100 characters allowed",
                    minlength: "min length 3"
                },
                P_Last_name: {
                    required: "Enter proper last name",
                    maxlength: "max 100 characters allowed",
                    minlength: "min length 3"
                },
                Medical_condition: {
                    required: "Enter medical condition",
                    maxlength: "max 100 characters allowed"
                },
                P_Phone: {
                    required: "Enter an number",
                    email: "Enter valid phone number",
                    maxlength: "max 100 characters allowed"
                },
                P_Email: {
                    required: "Enter an email",
                    email: "Enter valid email address",
                    maxlength: "max 100 characters allowed"
                },
                P_Address: {
                    required: "Enter an address",
                    email: "Enter valid patient address",
                    maxlength: "max 100 characters allowed"
                }

            },
            errorPlacement: function (error, element) {
                var type = $(element).attr("name");
                console.log(type);

                if (type === "P_Email") {
                    $(".P_Email_error").append(error);
                }
                else if (type === "P_Address") {
                    $(".P_Address_error").append(error);
                }
                else if (type === "P_Phone") {
                    $(".P_Phone_error").append(error);
                }
                else if (type === "P_First_name") {
                    $(".P_First_name_error").append(error);
                }
                else if (type === "P_Last_name") {
                    $(".P_Last_name_error").append(error);
                }
                else if (type === "Medical_condition") {
                    $(".Medical_condition_error").append(error);
                }
                else if (type === "IsFollowUp") {
                    $(".IsFollowUp_error").append(error);
                }
            },
        });


    </script>
}
