
@{
    ViewBag.Title = "AdminEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3><i class="fa fa-user-plus"></i> Add Prescription</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Prescription Details</div>
                    </div>
                    <div class="card-body">
                        <form id="AddPrescription" data-parsley-validate class="form-horizontal form-label-left">
                            <input type="hidden" id="Prescription_id" class="form-control">
                            <div class="form-group">
                                <label for="patientDropdown">Choose Patient</label>
                                <select class="form-control" id="patientDropdown" name="patientDropdown">
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input id="btnEdit" type="button" value="Edit" class="btn btn-success" />
                                </div>
                            </div>
                        </form>
                        <div class="card-action">

                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>*@
    <script>
        $(document).ready(function () {
            var f = @Html.Raw(ViewBag.Prescription);
            $('#Prescription_id').val(f.Prescription_id);
            console.log(f);
            $.ajax({
                url: "/Prescription/getPatient",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = '<option value="" disabled selected> Select </option>';
                    $.each(result, function (key, item) {
                        if (f.patient_id == item.patient_id) {
                            html += '<option selected value=' + item.patient_id + '>' + item.P_First_name + " " + item.P_Last_name + '</option>';
                        }
                        else
                        html += '<option value=' + item.patient_id + '>' + item.P_First_name +" "+ item.P_Last_name +  '</option>';
                       // html += '<option>' + item.patient_id + '</option>';

                    });
                    $('#patientDropdown').html(html);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
            debugger;

            //$("#patientDropdown option:selected").text(f.patient_id);
            //$("#patientDropdown option:selected").val(f.patient_id);
        });
        $("#AddPrescription").validate({
            errorClass: "error fail-alert",
            validClass: "valid success-alert",
            rules: {
                patientDropdown: {
                    required: true,


                },

            },
            messages: {
                patientDropdown: {
                    required: "select patient name",

                },


            },
            errorPlacement: function (error, element) {
                var type = $(element).attr("name");
                console.log(type);

                if (type === "patientDropdown") {
                    $(".patientDropdown-error").append(error);
                }


            },

        });
        $('#btnEdit').click(function () {
            var r = $('#AddPrescription').valid();
            console.log(r);
            if ($('#AddPrescription').valid()) {
                var data = {
                    patient_id: $("#patientDropdown option:selected").val(),
                    Prescription_id:$('#Prescription_id').val()


                };
                //$.post("/Medicine/Create", { medicine: data }, function () { window.location.href = "/Medicine/Index" });
                $.post("/Prescription/Edit", { prescription: data },
                    function (response) {
                        console.log(response);
                        if (response.status) {
                            console.log(response.status);
                            window.location.href = "/Prescription/Index";
                        }
                        else {
                            alert(response.message);
                        }
                    });
            }/**/
        });


    </script>
}



