
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3><i class="fa fa-user-plus"></i> Add Prescription</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Prescription Details</div>
                    </div>
                    <div class="card-body">
                        <form id="AddPrescription" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label for="patientDropdown">Choose Patient</label>
                                <select class="form-control" id="patientDropdown" name="patientDropdown">
                                </select>
                                <span class="patientDropdown-error"></span>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input id="btnCreate" type="button" value="Create" class="btn btn-success" />
                                </div>
                            </div>
                        </form>
                        <div class="card-action">

                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    
    <script>
        debugger;
        $(document).ready(function () {
            $.ajax({
                url: "/Prescription/getPatient",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = '<option  value = "Select" disabled selected > Select </option>';
                    $.each(result, function (key, item) {
                        html += '<option value=' + item.patient_id + '>' + item.P_First_name + '</option>';
                        // html += '<option>' + item.patient_id + '</option>';

                    });
                    $('#patientDropdown').html(html);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        });
        $("#AddPrescription").validate({
            errorClass: "error fail-alert",
            validClass: "valid success-alert",
            rules: {
                patientDropdown: {
                    required: true,


                },

            },
            messages: {
                patientDropdown: {
                    required: "select patient name",

                },


            },
            errorPlacement: function (error, element) {
                var type = $(element).attr("name");
                console.log(type);

                if (type === "patientDropdown") {
                    $(".patientDropdown-error").append(error);
                }


            },

        });
        $('#btnCreate').click(function () {
            var r = $('#AddPrescription').valid();
            console.log(r);
            if ($('#AddPrescription').valid()) {
                var data = {
                    patient_id: $("#patientDropdown option:selected").val(),

                };
                //$.post("/Medicine/Create", { medicine: data }, function () { window.location.href = "/Medicine/Index" });
                $.post("/Prescription/Create", { prescription: data },
                    function (response) {
                        console.log(response);
                        if (response.status) {
                            console.log(response.status);
                            window.location.href = "/Prescription/Index";
                        }
                        else {
                            alert(response.message);
                        }
                    });
            }/**/
        });
            //$('#btnCreate').click(function () {
            //    var data = {
            //        patient_id: $("#patientDropdown option:selected").val(),

            //    };
            //    $.post("/Prescription/Create", { prescription : data }, function () { window.location.href = "/Prescription/Index" });
            //});

    </script>
}


